<!DOCTYPE html>
<html>
<head>
    <title>Post Job</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='post_job.css') }}">
</head>
<body>
    <h2>Post a New Job</h2>
    <form method="POST">
        <label>Job Title:</label>
        <input type="text" name="job_title" required><br>

        <label>Job Description:</label>
        <textarea name="job_description" required></textarea><br>

        <label>Skills Required:</label>
        <input type="text" name="skills_required" required><br>

        <label>Location:</label>
        <input type="text" name="location" required><br>

        <button type="submit">Post Job</button>
        
    </form>
    <a href="{{ url_for('hr_dashboard') }}" class="button">Back to Home</a>
    
</body>
</html>
